EAP/EmployeeClient/Connected Services/EmployeeService/EmpService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49651/EmpService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmployeeService.Dtos" />
  <xs:element name="AddNewEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EmployeeService.Dtos" minOccurs="0" name="employee" nillable="true" type="q1:EmployeeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EmployeeService.Dtos" minOccurs="0" name="AddNewEmployeeResult" nillable="true" type="q2:EmployeeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departmentName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EmployeeService.Dtos" minOccurs="0" name="SearchEmployeeResult" nillable="true" type="q3:ArrayOfEmployeeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>